/*
* Uncomment the following line to use the Inter font when not working on a Next.js project.
* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* Then replace var(--font-inter) to Inter
*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";
@plugin 'tailwindcss-react-aria-components';

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: "Geist Mono", "ui-monospace", "SFMono-Regular", "Menlo", "Monaco",
    "Consolas", '"Liberation Mono"', '"Courier New"', "monospace";

  --color-border: var(--border);
  --color-input: var(--input);

  --color-ring: var(--ring);

  --color-bg: var(--bg);
  --color-fg: var(--fg);

  --color-primary: var(--primary);
  --color-primary-fg: var(--primary-fg);

  --color-secondary: var(--secondary);
  --color-secondary-fg: var(--secondary-fg);

  --color-accent: var(--accent);
  --color-accent-fg: var(--accent-fg);
  --color-accent-hover: var(--accent-hover);

  --color-success: var(--success);
  --color-success-fg: var(--success-fg);

  --color-danger: var(--danger);
  --color-danger-fg: var(--danger-fg);

  --color-destructive: var(--destructive);
  --color-destructive-fg: var(--destructive-fg);

  --color-warning: var(--warning);
  --color-warning-fg: var(--warning-fg);

  --color-muted: var(--muted);
  --color-muted-fg: var(--muted-fg);

  --color-selected: var(--selected);
  --color-selected-fg: var(--selected-fg);

  --color-hover: var(--hover);
  --color-hover-fg: var(--hover-fg);

  --color-hover-2: var(--hover-2);

  --color-overlay: var(--overlay);
  --color-overlay-fg: var(--overlay-fg);

  --color-hover-primary: var(--hover-primary);
  --color-hover-primary-fg: var(--hover-primary-fg);
  --color-hover-secondary: var(--hover-secondary);
  --color-hover-secondary-fg: var(--hover-secondary-fg);

  --color-navbar: var(--navbar);
  --color-navbar-fg: var(--navbar-fg);

  --color-sidebar: var(--sidebar);
  --color-sidebar-fg: var(--sidebar-fg);

  --color-setting-tab-list: var(--setting-tab-list);
  --color-setting-tab-list-fg: var(--setting-tab-list-fg);
  --color-setting-about-text: var(--setting-about-text);

  --color-card-desc-text: var(--card-desc-text);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
}

@layer base {
  :root {
    --bg: #FFFFFF;
    --fg: #333333;

    --primary: #8E47F0;
    --primary-fg: #FFFFFF;

    --secondary: oklch(0.923 0.003 48.717);
    --secondary-fg: rgba(102, 102, 102, 1);

    --overlay: oklch(1 0 0);
    --overlay-fg: oklch(0.147 0.004 49.25);

    --accent: #F3F2FF;
    --accent-fg: #8450E8;
    --accent-hover: #e6d9f7;

    --muted: oklch(0.97 0.001 106.424);
    --muted-fg: #AAAAAA;
    --muted-2:#F9F9F9;

    --hover: #F1F1F1;
    --hover-fg: #000000;
    --hover-2: #f9f9f9;

    --success: oklch(0.596 0.145 163.225);
    --success-fg: oklch(1 0 0);

    --warning: oklch(0.828 0.189 84.429);
    --warning-fg: oklch(0.279 0.077 45.635);

    --danger: oklch(0.577 0.245 27.325);
    --danger-fg: oklch(0.971 0.013 17.38);

    --destructive: oklch(0.67 0.24 25.76);
    --destructive-fg: oklch(0.98 0 0);

    --border: rgba(229, 229, 229, 1);
    --input: oklch(0.869 0.005 56.366);
    --ring: oklch(0.541 0.281 293.009);

    --hover-primary: rgba(241, 241, 241, 1);
    --hover-primary-fg: rgba(51, 51, 51, 1);
    --hover-secondary: #f9f9f9;
    --hover-secondary-fg: rgba(102, 102, 102, 1);

    --navbar: #F9F9F9;
    --navbar-fg:  #333333;

    --sidebar: #F9F9F9;
    --sidebar-fg: #333333;

    --setting-tab-list: rgba(249, 249, 249, 1);
    --setting-tab-list-fg: rgba(51, 51, 51, 1);
    --setting-about-text:#333333;

    --card-desc-text: #AAAAAA;

    --chart-1: oklch(0.541 0.281 293.009);
    --chart-2: oklch(0.702 0.183 293.541);
    --chart-3: oklch(0.811 0.111 293.571);
    --chart-4: oklch(0.894 0.057 293.283);
    --chart-5: oklch(0.943 0.029 294.588);

    --radius-lg: 0.25rem;
    --radius-xs: calc(var(--radius-lg) * 0.5);
    --radius-sm: calc(var(--radius-lg) * 0.75);
    --radius-md: calc(var(--radius-lg) * 0.9);
    --radius-xl: calc(var(--radius-lg) * 1.25);
    --radius-2xl: calc(var(--radius-lg) * 1.5);
    --radius-3xl: calc(var(--radius-lg) * 2);
    --radius-4xl: calc(var(--radius-lg) * 3);
  }

  .dark {
    --bg: #121212;
    --fg: #E6E6E6;

    --primary: #8E47F0;
    --primary-fg: #FFFFFF;

    --secondary: #2D2D2D;
    --secondary-fg: #E6E6E6;

    --accent: #49306A;
    --accent-fg: #E6E6E6;
    --accent-hover: #503a6c;

    --muted: oklch(0.216 0.006 56.043);
    --muted-fg: #5C5C5C;
    --muted-2:#7A7A7A;

    --hover: #2D2D2D;
    --hover-fg: #E6E6E6;
    --hover-2: #383838;

    --overlay: oklch(0.176 0.006 56.043);
    --overlay-fg: oklch(0.985 0.001 106.423);

    --success: oklch(0.596 0.145 163.225);
    --success-fg: oklch(1 0 0);

    --warning: oklch(0.828 0.189 84.429);
    --warning-fg: oklch(0.279 0.077 45.635);

    --danger: oklch(0.577 0.245 27.325);
    --danger-fg: oklch(0.971 0.013 17.38);

    --destructive: oklch(0.61 0.25 25.9);
    --destructive-fg: oklch(0.98 0 0);

    --border: oklch(0.274 0.01 67.558);
    --input: oklch(0.324 0.01 67.558);
    --ring: oklch(0.541 0.281 293.009);

    --hover-primary: hsl(240, 4%, 16%);
    --hover-primary-fg: oklch(0.985 0.001 106.423);
    --hover-secondary:#383838;
    --hover-secondary-fg: oklch(0.985 0.001 106.423);

    --navbar: #1A1A1A;
    --navbar-fg: #E6E6E6;

    --sidebar: #1A1A1A;
    --sidebar-fg: #E6E6E6;

    --setting-tab-list: #1f1f1f;
    --setting-tab-list-fg: oklch(0.985 0.001 106.423);
    --setting-about-text:#E6E6E6;

    --card-desc-text: #7A7A7A;

    --chart-1: oklch(0.491 0.27 292.581);
    --chart-2: oklch(0.606 0.25 292.717);
    --chart-3: oklch(0.702 0.183 293.541);
    --chart-4: oklch(0.811 0.111 293.571);
    --chart-5: oklch(0.894 0.057 293.283);


  }
}

@variant dark (&:is(.dark *));

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--border, currentColor);
  }

  * {
    text-rendering: optimizeLegibility;
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;
  }

  * {
    --title-bar-height: 46px;
    --sidebar-width: 280px;
    --sidebar-width-dock: 95px;
    --sidebar-width-collapsed: 95px;
    --setting-tab-list-width: 148px;
    --chat-input-toolbar-height: 40px;
  }

  html {
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    font-variation-settings: normal;
    scroll-behavior: smooth;
    height: 100vh;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
  }


  body {
    background-color: var(--bg);
    color: var(--fg);
  }

  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--border);
    border-radius: 4px;
  }
}

.katex {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  font-feature-settings: "kern" 1 !important;
}

.katex-display {
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0.5em 0;
  margin: 0.5em 0;
}

.katex .frac-line {
  border-bottom-width: 0.04em !important;
}
